main.container {
  .row__tdList {
    .tdList {
      .tdList__element {
        background-color: #fff;
        position: relative;
        line-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;

        .tdList__element__deleteBtn {
          display: none;
          position: absolute;
          right: 0;
          bottom: 10px;
          margin: 5px;
        }

        &:hover {
          .tdList__element__deleteBtn {
            display: block;
          }
        }

        .tdList__element__warning {
          position: absolute;
          background-color: #fff;
          color: red;
          border: 1px solid red;
          left: 0;
          text-align: center;
        }
      }

      .tdList__element--checked { 
        p {
          text-decoration: line-through;
          opacity: 0.5;
        }
      }
    }
  }
}