@import 'settings/variables';
@import 'settings/grid';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: $fontSize;
  font-family: $font;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  background-color: $colorBG;
}

a {
  text-decoration: none;
}