@import '../styles/settings/variables';

footer.container {
  height: 50px;

  .row {
    align-items: center;
    position: relative;

    .footer__text {
      text-align: center;
      line-height: 50px;

      a {
        display: inline-block;
        &:hover {
          animation: ColorsBlackGrey 500ms infinite linear alternate;
        }
      }
    }

    button {
      height: 30px;
      background-color: $colorSecondary;
    }
  }
}